<div class="carousel">
  <div class="carousel__container">
    <button
      type="button"
      class="carousel__left js_pagination--btn"
      data-page="prev"
    >
      <img
        src="./img/arrow-left.svg"
        alt="Arrow Left"
        width="16"
        height="16"
        class="arrow__left"
      />
    </button>
    <div class="carousel__content"></div>
    <button
      type="button"
      class="carousel__right js_pagination--btn"
      data-page="next"
    >
      <img
        src="./img/arrow-left.svg"
        alt="Arrow Right"
        width="16"
        height="16"
        class="arrow__right"
      />
    </button>
  </div>
</div>
