<div class="upward hvr-bob"></div>
<header class="header">
  <div class="container">
    <nav class="navigation animate__bounceInDown">
      <a href="#" class="navigation__logo"><h1>Filmoteka</h1></a>

      <div class="navigation__selector">
        <a href="#" class="navigation__home">Home</a>
        <a href="#" class="navigation__library">My library</a>
      </div>
    </nav>
    <div class="search">
      <form class="search__hourglass js-search__form" autocomplete="off">
        <input
          type="text"
          placeholder="Movie search"
          class="search__box"
          name="searchQuery"
        />
        <button class="search__btn" type="submit"></button>
      </form>
      <div class="search__warning hidden">Search result not successful.</div>
      <button type="button" class="searchBtn">Search by genre</button>
    </div>
    <div class="switcher">
      <button type="button" class="button button__watched">Watched</button>
      <button type="button" class="button button__queue">queue</button>
    </div>
  </div>
</header>

<div class="filter">
  <div class="tags"></div>
</div>
