<div class="backdrop-team is-hidden">
  <div class="modal-team">
    <button class="modal-team__button" type="button">
      <svg class="modal-team__icon" width="30" height="30">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-team__container">
      <div class="modal-team__header-container">
        <a
          href="https://docs.google.com/presentation/d/15oXT7ElWrb-BxTBWixNW0jYmCVX6A8XXNIslCrGihcU/edit?usp=sharing"
          target="_blank"
          >Our Team
        </a>
      </div>
      <ul class="team__list">
        <li class="team__item">
          <div class="team__wrapper">
            <img
              class="team__img team__img-js-motko"
              src="./img/team/01.jpg"
              width="200"
              height="267"
              alt="photo with Andrew Motko"
            />
            <div class="team__overlay">
              <a
                class="team__link"
                href="https://github.com/AM1007"
                target="_blank"
              >
                <img
                  class="overlay__img"
                  src="./img/gh_logo.png"
                  alt="https://github.com/AM1007"
                />
              </a>
            </div>
          </div>
          <p class="team__name js-name-motko">Andrew Motko</p>
          <p class="team__role js-role-lead">Team Lead</p>
        </li>

        <li class="team__item">
          <div class="team__wrapper">
            <img
              class="team__img team__img-js-kuharuk"
              src="./img/team/02.jpg"
              width="200"
              alt="Photo with Oleksii Kukharuk"
            />
            <img
              class="team__img team__img-js-kuharuk"
              src="./img/team/02.jpg"
              width="200"
              height="267"
              alt="Photo with Olexiy Kuharuk"
            />
            <div class="team__overlay">
              <a
                class="team__link"
                href="https://github.com/Oleksii-Kukharuk"
                target="_blank"
              >
                <img
                  class="overlay__img"
                  src="./img/gh_logo.png"
                  alt="https://github.com/Oleksii-Kukharuk"
                />
              </a>
            </div>
          </div>
          <p class="team__name js-name-kuharuk">Oleksii Kukharuk</p>
          <p class="team__role js-role-scrum">Scrum master</p>
        </li>

        <li class="team__item">
          <div class="team__wrapper">
            <img
              class="team__img team__img-js-bielova"
              src="./img/team/03.jpg"
              width="200"
              height="267"
              alt="photo with Olena Bielova"
            />
            <div class="team__overlay">
              <a
                class="team__link"
                href="https://github.com/OlenaBielova"
                target="_blank"
              >
                <img
                  class="overlay__img"
                  src="./img/gh_logo.png"
                  alt="https://github.com/OlenaBielova"
                />
              </a>
            </div>
          </div>
          <p class="team__name js-name-bielova">Olena Bielova</p>
          <p class="team__role js-role-developer">Developer</p>
        </li>

        <li class="team__item">
          <div class="team__wrapper">
            <img
              class="team__img team__img-js-makukha"
              src="./img/team/04.jpg"
              width="200"
              height="267"
              alt="photo with Yurii Makukha"
            />
            <div class="team__overlay">
              <a
                class="team__link"
                href="https://github.com/MuffMuffin"
                target="_blank"
              >
                <img
                  class="overlay__img"
                  src="./img/gh_logo.png"
                  alt="https://github.com/MuffMuffin"
                />
              </a>
            </div>
          </div>
          <p class="team__name js-name-makukha">Yurii Makukha</p>
          <p class="team__role js-role-developer">Tech Lead</p>
        </li>

        <li class="team__item">
          <div class="team__wrapper">
            <img
              class="team__img team__img-js-solod"
              src="./img/team/05.jpg"
              width="200"
              height="267"
              alt="photo with Sergіy Solod"
            />
            <div class="team__overlay">
              <a
                class="team__link"
                href="https://github.com/Solod-S"
                target="_blank"
              >
                <img
                  class="overlay__img"
                  src="./img/gh_logo.png"
                  alt="https://github.com/Solod-S"
                />
              </a>
            </div>
          </div>
          <p class="team__name js-name-solod">Sergіy Solod</p>
          <p class="team__role js-role-developer">Developer</p>
        </li>

        <li class="team__item">
          <div class="team__wrapper">
            <img
              class="team__img team__img-js-sekan"
              src="./img/team/06.jpg"
              width="200"
              height="267"
              alt="photo with Eduard Sekan"
            />
            <div class="team__overlay">
              <a
                class="team__link"
                href="https://github.com/Eddy-hub19"
                target="_blank"
              >
                <img
                  class="overlay__img"
                  src="./img/gh_logo.png"
                  alt="https://github.com/Eddy-hub19"
                />
              </a>
            </div>
          </div>
          <p class="team__name js-name-sekan">Eduard Sekan</p>
          <p class="team__role js-role-developer">Developer</p>
        </li>

        <li class="team__item">
          <div class="team__wrapper">
            <img
              class="team__img team__img-js-petlya"
              src="./img/team/07.jpg"
              width="200"
              height="267"
              alt="photo with Ivan Petlya"
            />
            <div class="team__overlay">
              <a
                class="team__link"
                href="https://github.com/ivan-petlya"
                target="_blank"
              >
                <img
                  class="overlay__img"
                  src="./img/gh_logo.png"
                  alt="https://github.com/ivan-petlya"
                />
              </a>
            </div>
          </div>
          <p class="team__name js-name-petlya">Ivan Petlya</p>
          <p class="team__role js-role-developer">Developer</p>
        </li>

        <li class="team__item">
          <div class="team__wrapper">
            <img
              class="team__img team__img-js-zahorodnia"
              src="./img/team/08.jpg"
              width="200"
              height="267"
              alt="photo with Viktoriia Zahorodnia"
            />
            <div class="team__overlay">
              <a
                class="team__link"
                href="https://github.com/VikaZ11"
                target="_blank"
              >
                <img
                  class="overlay__img"
                  src="./img/gh_logo.png"
                  alt="https://github.com/VikaZ11"
                />
              </a>
            </div>
          </div>
          <p class="team__name js-name-zahorodnia">Viktoriia Zahorodnia</p>
          <p class="team__role js-role-developer">Developer</p>
        </li>

        <li class="team__item">
          <div class="team__wrapper">
            <img
              class="team__img team__img-js-yaroshovets"
              src="./img/team/09.jpg"
              width="200"
              height="267"
              alt="photo with Olexander Yaroshovets"
            />
            <div class="team__overlay">
              <a
                class="team__link"
                href="https://github.com/Alexander-Yaroshovets"
                target="_blank"
              >
                <img
                  class="overlay__img"
                  src="./img/gh_logo.png"
                  alt="https://github.com/Alexander-Yaroshovets"
                />
              </a>
            </div>
          </div>
          <p class="team__name js-name-yaroshovets">Olexander Yaroshovets</p>
          <p class="team__role js-role-developer">Developer</p>
        </li>

        <li class="team__item">
          <div class="team__wrapper">
            <img
              class="team__img team__img-js-tsymbaliuk"
              src="./img/team/10.jpg"
              width="200"
              height="267"
              alt="photo with Oleksandr Tsymbaliuk"
            />
            <div class="team__overlay">
              <a
                class="team__link"
                href="https://github.com/Tsymbaliuk-Oleksandr"
                target="_blank"
              >
                <img
                  class="overlay__img"
                  src="./img/gh_logo.png"
                  alt="https://github.com/Tsymbaliuk-Oleksandr"
                />
              </a>
            </div>
          </div>
          <p class="team__name js-name-tsymbaliuk">Oleksandr Tsymbaliuk</p>
          <p class="team__role js-role-developer">Developer</p>
        </li>
      </ul>
    </div>

    <div class="modal-team__text-container">
      <a
        href="https://github.com/luxplanjay"
        target="_blank"
        class="text-container__style"
        >🍅 our tomato respect 🍅
      </a>
    </div>
  </div>
</div>
