<div class="overlay">
  <div class="modal animate__zoomIn">
    <button type="button" class="modal__close"></button>
    <div class="modal__content">
      <a href="#"
        ><div class="modal__media trailer">
          <img
            src="./img/servant.jpg"
            alt="Movie poster"
            class="modal__poster"
          />
        </div>
      </a>
      <div class="modal__details">
        <h2 class="modal__title">Servant of the People</h2>
        <ul class="modal__stats">
          <li class="modal__votes">
            <span class="data">Vote / Votes</span>
            <div class="value value__votes">
              <div class="rating">9.5</div>
              <div class="data separator">/</div>
              <div class="rating rating__votes">9001</div>
            </div>
          </li>
          <li class="modal__popularity">
            <span class="data">Popularity</span>
            <span class="value">1488</span>
          </li>
          <li class="modal__original">
            <span class="data">Original Title</span>
            <span class="value value__title">The God Emperor</span>
          </li>
          <li class="modal__genre">
            <span class="data">Genre</span>
            <span class="value">Documentary</span>
          </li>
        </ul>
        <div class="modal__description">
          <p class="modal__about">ABOUT</p>
          <p class="modal__text">
            Little is known about the majority of the Emperor's life; of who he
            was and what he did before he emerged as the great Emperor of
            Mankind, only the Emperor himself remembers. The man who would later
            become known as the Emperor started out humbly - peacefully serving
            as sixth President of Ukraine. But one cold February morning
            everything changed... This is a story of his ascension to Godhood.
            Ave Imperator, morituri te salutant!
          </p>
        </div>
        <div class="modal__buttons">
          <button type="button" class="button modal__watch">
            add to Watched
          </button>
          <button type="button" class="button modal__queue">
            add to queue
          </button>
        </div>
      </div>
    </div>
    <div class="modal__spinner">
      <img src="./img/loading.gif" alt="Loading. Please wait." />
    </div>
  </div>
  <div class="modal__trailer backdrop js-trailer"></div>
</div>
